.navbar-toggle.navbar-left {
    float: left;
    margin-left: 15px;
}

.form-group.wo-mb {
    margin-bottom: 0px;
}

.page-header.half-top-margin {
    margin-top: 20px;
    padding-bottom: 0px;
}

.center-login {
    margin: 0 auto;
    max-width: 450px;
}
